.form-popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  font-size: 20px;
}
/* Add styles to the form container */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */}

/* Full-width input fields */
.form-container input[type=text]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.btn-sect {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  justify-content: space-between;
  margin: 5px;
}


@media screen and (max-width: 600px) {
  .form-container {
    width: 50%;
  }
}